In [31]:
import pandas as pd
import numpy as np

In [90]:
movies = pd.read_csv("../../datasets/ml-latest-small/movies.csv", sep=",")
print(movies.shape)
movies.head()

(9742, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [91]:
ratings = pd.read_csv("../../datasets/ml-latest-small/ratings.csv", sep=",")

In [92]:
ratings

        userId  movieId  rating   timestamp
0         1000      858     5.0   964982703
1         1000       50     5.0   964982703
2         1000      110     5.0   964982703
3         1000     4226     5.0   964982703
4         1000        8     1.0   964982703
...        ...      ...     ...         ...
100839     610   166534     4.0  1493848402
100840     610   168248     5.0  1493850091
100841     610   168250     5.0  1494273047
100842     610   168252     5.0  1493846352
100843     610   170875     3.0  1493846415

[100844 rows x 4 columns]

In [93]:
user_factors = pd.read_csv("user_factors.txt", header=None)
movie_factors = pd.read_csv("movie_factors.txt", header=None)

In [94]:
user_factors[user_factors[0]==1000]

        0       1         2        3        4
406  1000 -1.2996 -0.806134  1.03705  2.07342

In [95]:
u_factors = {}
for i in range(user_factors.shape[0]):
    u_factors[user_factors.iloc[i,0]] = user_factors.iloc[i,1:].values
m_factors = {}
for i in range(movie_factors.shape[0]):
    m_factors[movie_factors.iloc[i,0]] = movie_factors.iloc[i,1:].values

In [96]:
np.dot(u_factors[1],m_factors[1])

5.0244784167983

In [97]:
def top_N_pred_sort(N, u):
    preds = pd.Series([], dtype='float')
    # find the movies not rated by u
    movies_not_rated = ratings.query("userId != @u").movieId.unique()
    for m in movies_not_rated:
        preds[m] = np.dot(u_factors[u],m_factors[m])
    return preds.sort_values(ascending=False)[:N]

In [98]:
topn = top_N_pred_sort(10,1000)
topn

26810     4.847022
947       4.685776
174053    4.676352
8477      4.652764
2512      4.555619
3473      4.452456
50        4.427339
1080      4.426385
858       4.421600
912       4.390920
dtype: float64

In [99]:
movies[movies.movieId.isin(topn.index)]

,movieId,title,genres
46,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
659,858,"Godfather, The (1972)",Crime|Drama
694,912,Casablanca (1942),Drama|Romance
727,947,My Man Godfrey (1936),Comedy|Romance
820,1080,Monty Python's Life of Brian (1979),Comedy
1889,2512,"Ballad of Narayama, The (Narayama bushiko) (1983)",Drama
2597,3473,Jonah Who Will Be 25 in the Year 2000 (Jonas q...,Comedy
5202,8477,"Jetée, La (1962)",Romance|Sci-Fi
5580,26810,Bad Boy Bubby (1993),Drama
9570,174053,Black Mirror: White Christmas (2014),Drama|Horror|Mystery|Sci-Fi|Thriller

In [100]:
u_factors[1000]

array([-1.2996  , -0.806134,  1.03705 ,  2.07342 ])